
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 1000px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-field {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex: 1;
    border-right: 1px solid #ccc;
}

.search-field:last-child {
    border-right: none;
}

.search-field i {
    margin-right: 10px;
    color: #888;
}

.search-field input,
.search-field select {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.search-field input::placeholder {
    color: #ccc;
}

.search-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: 0 10px;
    font-size: 16px;
}

.search-button {
    background: #03045E;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 10px;
}

.search-button:hover {
    background: #0077B6;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.home-content h1 {
    color: #2f2e30;
    font-size: 50px;
    text-align: center;
    line-height: 1.5;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
}

.sponsored-companies {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 30px;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
}

.top-companies, .sponsored-companies {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 30px;
}

.top-companies h2, .sponsored-companies h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.company-category, .company-card {
    display: inline-block;
    width: 18%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    vertical-align: top;
    text-align: left;
}

.company-category h3, .company-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.company-category p, .company-card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.company-logos, .company-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.company-logos img, .company-card img {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: block;
    margin: 0 auto 5px;
}

.company-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.company-card {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 200px;
}

.course-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

.course-info {
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
}

.course-slider {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.course-card {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    white-space: normal;
    vertical-align: top;
}

.course-image {
    height: 150px;
    background-color: #ececec;
}

.course-content {
    padding: 15px;
}

.course-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.course-description {
    font-size: 14px;
    color: #666;
}

.course-action {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.view-details-button {
    background: #03045E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.view-details-button:hover {
    background: #0077B6;
}



h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}
.services {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.services-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.services-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.services-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}
.services-card p {
    font-size: 16px;
    margin: 10px 15px;
    color: #555;
}

/* General Styles for the Help Desk Form */
.helpdesk-form-container {
    background-color: #f2f2f2;
    min-height: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.helpdesk-form-container > div {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    padding: 20px;
}

.inputGroup {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.inputGroup input[type="email"], .inputGroup textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    font-size: 1rem;
}

.inputGroup label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0);
    padding: 0 10px;
    transition: all 0.3s ease;
    color: #666;
}

.inputGroup input:focus + label,
.inputGroup input:valid + label,
.inputGroup textarea:focus + label,
.inputGroup textarea:valid + label {
    top: -10px;
    font-size: 0.85rem;
    color: #0056b3;
}

.btn {
    width: auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .auth-buttons {
        flex-direction: column;
        margin-top: 10px;
    }

    .login-button, .register-button {
        margin: 5px 0;
    }

    .search-bar {
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
    }

    .search-button {
        width: 100%;
        margin: 10px 0;
    }

    .company-category, .company-card {
        width: 100%;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-form, .note {
        margin: 0;
        margin-bottom: 20px;
    }

    .event-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .event-action {
        margin-top: 10px;
        width: 100%;
    }

    .view-details-button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1024px) {

    .search-bar {
        padding: 12px;
    }

    .search-button {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {


    .auth-buttons {
        margin-top: 10px;
        justify-content: flex-start;
    }

    .search-bar-container {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;
    }

    .search-bar {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .search-field {
        padding: 10px;
    }

    .home {
        margin-top: 100px;
    }

    .home-content h1 {
        font-size: 30px;
    }

    .contact-form-container {
        padding: 15px;
    }

    .photo {
        margin: 10px auto;
    }

    .photo img {
        border-radius: 5px;
    }

    .events-cover {
        height: auto;
        padding: 20px;
    }

    .events-cover-inner {
        padding: 10px;
    }

    .events-list {
        width: 100%;
    }

    .event-card {
        padding: 10px;
    }

    .view-details-button {
        padding: 10px 20px;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {

    .search-bar {
        padding: 8px;
    }

    .search-button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .home-content h1 {
        font-size: 24px;
    }

    .contact-form-container {
        padding: 10px;
    }

    .photo {
        margin: 5px auto;
    }

    .photo img {
        border-radius: 3px;
    }

    .events-list {
        flex-direction: column;
    }

    .event-card {
        padding: 8px;
    }

    .event-info h3 {
        font-size: 14px;
    }

    .view-details-button {
        padding: 8px 15px;
    }
}





@media (max-width: 768px) {

    
    .main-section h1 {
        font-size: 2em;
    }
    
    .main-section p {
        font-size: 1em;
    }
}


.job-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1200px; /* Adjust as needed */
}

.job-section h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.job-item {
    text-align: center;
    max-width: 300px;
    margin: 0 20px;
}

.job-item img {
    max-width: 100px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.job-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.job-item p {
    font-size: 1em;
    color: #333;
}

@media (max-width: 768px) {
    .job-section {
        padding: 20px;
    }
    
    .job-item {
        max-width: 100%;
        margin: 0 10px;
    }
    
    .job-item img {
        max-width: 80px;
    }
    
    .job-item h2 {
        font-size: 1.2em;
    }
    
    .job-item p {
        font-size: 0.9em;
    }
}


.build-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1200px; /* Adjust as needed */
}

.build-post .post-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.build-post .post-item img {
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 20px;
    border-radius: 20px;
}

.build-post .post-item:nth-child(odd) {
    flex-direction: row;
}

.build-post .post-item:nth-child(even) {
    flex-direction: row-reverse;
}

.build-post h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.build-post p {
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 768px) {
    .build-post {
        padding: 20px;
    }
    
    .build-post .post-item img {
        max-width: 100%;
        border-radius: 10px;
    }
    
    .build-post h2 {
        font-size: 1.8em;
    }
    
    .build-post p {
        font-size: 1em;
    }
}
