* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navi {
    width: 100%;
    min-height: 8vh;
    background: #ffffff;
    color: rgb(0, 0, 0);
}

nav {
    margin-top: 0.25px;
    background: #00b7ff;
    width: 100%;
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 60px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user-profile-link {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.user-profile-link i {
    font-size: 20px;
}

nav ul li a:hover {
    border-radius: 30px;
    transition: 0.8s;
    background-color: #a4dcf1;
}

.dropbtn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    display: block;
    position: absolute;
    background: #042938;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    transition: opacity 0.4s ease, visibility 0.5s ease;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    border-radius: 30px;
    transition: 0.5s;
    background-color: #a4dcf1;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    width: 60%;
    max-width: 1000px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.search-field {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex: 10;
    border-right: 1px solid #ccc;
}

.search-field:last-child {
    border-right: none;
}

.search-field i {
    margin-right: 10px;
    color: #888;
}

.form-control {
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    width: 100%;
}

.search-field input {
    width: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #042938;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.search-button:hover {
    background-color: #54c4ec;
}

.search-button i {
    font-size: 15px;
}
