/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
}

.navbar {
    background-color: #f0f0f0;
    padding: 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.navbar .logo a {
    color: #1bc4f8;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.navbar .search-form {
    display: flex;
    align-items: center;
    margin-right: auto;
    flex-wrap: wrap;
}

.navbar .search-form .custom-search-field {
    position: relative;
    margin-right: 10px;
}

.navbar .search-form .custom-search-field i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.navbar .search-form .custom-search-field select,
.navbar .search-form .custom-input-location {
    padding: 5px 10px 5px 30px;
    border: 1px solid #1bc4f8;
    border-radius: 10px;
    font-size: 10px;
}

.navbar .search-form .custom-search-button {
    padding: 5px 10px;
    background-color: #1bc4f8;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.navbar .custom-nav-links {
    display: flex;
    list-style: none;
    margin-left: 20px;
    flex-wrap: wrap;
}

.navbar .custom-nav-links li {
    margin-left: 10px;
}

.navbar .custom-nav-links a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 1s ease;
}

.navbar .custom-nav-links a:hover {
    background-color: #1bc4f8;
    border-radius: 3px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .fas {
    font-size: 24px;
    color: #000;
}
